doctype html
html(lang="zh-cn")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(href="./stylesheets/common.scss", rel="stylesheet")
        script(src="./js/vue.js")
        
        
        title FurCoder
    body
        section.index-cover.swiper
            .slidebar
                header
                    span.color-tigeryellow.header-margin-fix FUR
                    span.color-codeblue CODER
                main
                    p
                        | FurCoder 是一个由毛茸茸组成的IT开发从业者组织，
                        | 发起人 老兽 于2017年2月1日 成立了相关讨论组。
                    p
                        | 今天，Furcoder已经拥有70名成员，其成员技能覆盖了
                        | web开发/大数据/游戏制作/服务架构/影视特效/客户端开发
                        | 等大部分场景。
                nav
                    button.color-white.bg-color-codeblue 我们是谁
                    button 联系我们
        section.project-list
            h1 我们的项目
            span PROJECTS
            .project-row.clear
                .project-col-6
                    .project-item
                        h3 ZeroCaterpillar
                        span 全能，高效的图片爬虫。
                .project-col-6
                    .project-item
                        h3 COME SOON
                        span
        section.members-list
            h1 我们的成员
            span MEMBERS
            .members-row.clear
                .members-col-4
                    .members-item
                        img(src="https://qcloud-cdn-static.lonepixel.cn/furcoder/avatar/snowkylin.jpg", alt="")
                        h5 SnowKylin
                        span Wildream负责人，大数据方向。
